.app {
   &__footer {
     border-radius: 0 0 4px 4px;
     background: #2F4F4F;
     color: #fff;
     padding: 10px;
     text-align: center;
     p {
       margin: 0;
       font-weight: 600;
     }
   }
 }