.app {
   &__header {
      position: relative;
      text-align: center;
   }
   &__logo {
      padding-bottom: 35px;
      width: 75px;
   }
   &__corner {
      position: absolute;
      top: 0;
      right: 0;
   }
   &__menu {
      border-radius: 4px 4px 0 0;
      text-align: center;
      background: #23292d;
      display: flex;
      justify-content: right;
      &__menu-link {
        color: #fff;
        padding: 15px 35px;
        font-family: 'cornerstone';
        cursor: pointer;
        &.active {
          background: #921217;
        }
      }
    }
}