.pizza-item {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 7px 7px;
   padding: 20px 10px;
   border-radius: 4px;
   background: #23292d;
   box-shadow: 0 0 3pt 2pt #520c0e;
   transition: 0.2s all ease;
   &:hover {
      transform: scale(1.05);
   }
   a {
     color: rgb(233, 233, 233);
   }
   h4 {
     margin: 10px 0;
   }
   &__base {
     position: relative;
   }
   &__topping {
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     height: 100%;
     width: 100%;
   }
}