.app {
   &__nav {
     border-radius: 4px 4px 0 0;
     text-align: center;
     background: #ab131b;
     display: flex;
     justify-content: center;
     align-items: center;
     a {
       color: #fff;
       padding: 15px 35px;
       font-family: 'cornerstone';
       &.active {
         background: #921217;
       }
     }
   }
}