
.products {
   position: relative;
   &__new {
     background: #23292d;
     padding: 35px;
     display: flex;
     justify-content: center;
   }
   &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      pizza-item {
         background: #fff;
         flex: 0 0 33%;
         margin: 0 0 55px;
         transition: 0.2s all ease;
         &:hover {
            transform: scale(1.05);
         }
     }
   }
}