:host {
   display: block;
   width: 100%;
}
.app {
   &__content {
     margin: 0 auto 50px;
     background: #fff;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
     max-width: 1000px;
     border-radius: 4px;
   }
   &__container {
     padding: 35px;
     justify-content: center;
     align-items: center;
   }
}