
.app {
   &__content {
     margin: 0 auto 50px;
     background: #23292d;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
     border-radius: 4px;
     width: 85%;
   }
   &__container {
      padding: 35px 6px 35px 6px;
      justify-content: center;
      align-items: center;
   }
}